#comicbookguy *
{
    position: absolute;
    box-sizing:content-box;
    -moz-box-sizing:content-box;
}

#comicbookguy
{
    position: relative;
    width: 118px;
    height: 130px; 
    margin: 0 auto;
}

#comicbookguy .head *
{
    border: 1px solid #110b00;
}

#comicbookguy .head .no-border
{
    border: none;
}

#comicbookguy .head .body
{
    background: #fbd800;
}

#comicbookguy .head .hair
{
    background: #c78814;
}

#comicbookguy .head .hair1
{
    top: 4px;
    left: 51px;
    width: 53px;
    height: 19px;
    border-radius: 46% 50% 50% 50% / 46% 50% 50% 50%;
    -webkit-border-radius: 46% 50% 50% 50% / 46% 50% 50% 50%;
    -moz-border-radius: 46% 50% 50% 50% / 46% 50% 50% 50%;
    transform: rotate(19deg);
    -ms-transform: rotate(19deg);
    -webkit-transform: rotate(19deg);
}

#comicbookguy .head .hair2
{
    top: 13px;
    left: 92px;
    width: 18px;
    height: 40px;
    border-left: none;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    transform: rotate(-17deg);
    -ms-transform: rotate(-17deg);
    -webkit-transform: rotate(-17deg);
}

#comicbookguy .head .hair3
{
    top: 44px;
    left: 91px;
    width: 15px;
    height: 12px;
    border-top: none;
    border-right: none;
    border-radius: 0 0 0 10%;
    -webkit-border-radius: 0 0 0 10%;
    -moz-border-radius: 0 0 0 10%;
    transform: rotate(-3deg) skew(1deg, -8deg);
    -ms-transform: rotate(-3deg) skew(1deg, -8deg);
    -webkit-transform: rotate(-3deg) skew(1deg, -8deg);
}

#comicbookguy .head .hair4
{
    top: 24px;
    left: 85px;
    width: 10px;
    height: 20px;
    border-right: none;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    box-shadow: 4px 2px 0 0 rgba(199, 136, 20, 1);
    -webkit-box-shadow: 4px 2px 0 0 rgba(199, 136, 20, 1);
    -moz-box-shadow: 4px 2px 0 0 rgba(199, 136, 20, 1);
}

#comicbookguy .head .head1
{
    top: 7px;
    left: 28px;
    height: 30px;
    width: 59px;
    border-bottom: none;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
}

#comicbookguy .head .head2
{
    top: 66px;
    left: 31px;
    height: 50px;
    width: 90px;
    border-top: none;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    transform: rotate(-47deg);
    -ms-transform: rotate(-47deg);
    -webkit-transform: rotate(-47deg);
}

#comicbookguy .head .head3
{
    top: 28px;
    left: 22px;
    height: 59px;
    width: 86px;
}

#comicbookguy .head .head4
{
    top: 86px;
    left: 24px;
    width: 48px;
    height: 41px;
    border-top: none;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    transform: rotate(36deg);
    -ms-transform: rotate(36deg);
    -webkit-transform: rotate(36deg);
}

#comicbookguy .head .head5
{
    top: 76px;
    left: 22px;
    width: 8px;
    height: 34px;
    border-right: none;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    transform: rotate(-9deg);
    -ms-transform: rotate(-9deg);
    -webkit-transform: rotate(-9deg);
}

#comicbookguy .head .head6
{
    top: 81px;
    left: 28px;
    width: 49px;
    height: 48px;
    border-radius: 16px 20px 20px 26px;
    -webkit-border-radius: 16px 20px 20px 26px;
    -moz-border-radius: 16px 20px 20px 26px;
    transform: rotate(-9deg);
    -ms-transform: rotate(-9deg);
    -webkit-transform: rotate(-9deg);
}

#comicbookguy .head .ear
{
    top: 39px;
    left: 100px;
    width: 15px;
    height: 20px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
}

#comicbookguy .head .inner
{
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
}

#comicbookguy .head .inner1
{
    top: 5px;
    left: 2px;
    width: 10px;
    height: 4px;
    border-bottom: none;
    transform: rotate(-34deg);
    -ms-transform: rotate(-34deg);
    -webkit-transform: rotate(-34deg);
}

#comicbookguy .head .inner2
{
    top: 3px;
    left: 5px;
    width: 4px;
    height: 10px;
    border-left: none;
    transform: rotate(-5deg);
    -ms-transform: rotate(-5deg);
    -webkit-transform: rotate(-5deg);
}

#comicbookguy .head .eye
{
    width: 22px;
    height: 22px;
    background: #ffffff;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
}

#comicbookguy .head .eye .pupil
{
    width: 3px;
    height: 3px;
    background: #110b00;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
}

#comicbookguy .head .left-eye
{
    top: 26px;
    left: 19px;
    width: 20px;
    height: 21px;
}

#comicbookguy .head .left-eye .pupil
{
    top: 11px;
    left: 10px;
}

#comicbookguy .head .left-eye-top
{
    top: 33px;
    left: 18px;
    width: 20px;
    height: 6px;
    border-bottom: none;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    transform: rotate(9deg);
    -ms-transform: rotate(9deg);
    -webkit-transform: rotate(9deg);
    
    -webkit-box-shadow: 5px -4px 0px 4px rgba(251, 216, 0, 1);
    -moz-box-shadow: 5px -4px 0px 4px rgba(251, 216, 0, 1);
    box-shadow: 5px -4px 0px 4px rgba(251, 216, 0, 1);
}

#comicbookguy .head .left-eye-bag
{
    top: 38px;
    left: 17px;
    width: 8px;
    height: 10px;
    border-right: none;
    border-radius: 50% 0 0 35%;
    -webkit-border-radius: 50% 0 0 35%;
    -moz-border-radius: 50% 0 0 35%;
    transform: rotate(48deg);
    -webkit-transform: rotate(48deg);
    -ms-transform: rotate(48deg);
}

#comicbookguy .head .right-eye
{
    top: 33px;
    left: 46px;
    width: 23px;
    height: 16px;
    border-radius: 50% 50% 39% 50%;
    -webkit-border-radius: 50% 50% 39% 50%;
    -moz-border-radius: 50% 50% 39% 50%;
    transform: skew(0deg, 5deg);
    -ms-transform: skew(0deg, 5deg);
    -webkit-transform: skew(0deg, 5deg);
}

#comicbookguy .head .right-eye .pupil
{
    top: 7px;
    left: 14px;
}

#comicbookguy .head .right-eye-top
{
    top: 33px;
    left: 46px;
    width: 20px;
    height: 4px;
    border-top: none;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    transform: rotate(-2deg);
    -ms-transform: rotate(-2deg);
    -webkit-transform: rotate(-2deg);
    
    -webkit-box-shadow: inset 5px -4px 0px 4px rgba(251, 216, 0, 1);
    -moz-box-shadow: inset 5px -4px 0px 4px rgba(251, 216, 0, 1);
    box-shadow: inset 5px -4px 0px 4px rgba(251, 216, 0, 1);
}

#comicbookguy .head .right-eye-bag
{
    top: 48px;
    left: 49px;
    width: 16px;
    height: 7px;
    border-top: none;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-transform: rotate(21deg);
    -ms-transform: rotate(21deg);
    transform: rotate(21deg);
}

#comicbookguy .head .nose
{
    top: 50px;
    left: 29px;
    width: 16px;
    height: 11px;
    border-top: none;
    border-radius: 0 0 61% 39%;
    -webkit-border-radius: 0 0 61% 39%;
    -moz-border-radius: 0 0 61% 39%;
    transform: rotate(37deg);
    -ms-transform: rotate(37deg);
    -webkit-transform: rotate(37deg);
}

#comicbookguy .head .nose-left
{
    top: 34px;
    left: 32px;
    width: 5px;
    height: 12px;
    border-left: none;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    transform: rotate(20deg);
    -ms-transform: rotate(20deg);
    -webkit-transform: rotate(20deg);
    
    -webkit-box-shadow: 4px -1px 0px 1px rgba(251, 216, 0, 1);
    -moz-box-shadow: 4px -1px 0px 1px rgba(251, 216, 0, 1);
    box-shadow: 4px -1px 0px 1px rgba(251, 216, 0, 1);
}

#comicbookguy .head .mouth1
{
    top: 59px;
    left: -1px;
    width: 51px;
    height: 20px;
    border-top: none;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    transform: rotate(4deg);
    -ms-transform: rotate(4deg);
    -webkit-transform: rotate(4deg);
    -webkit-box-shadow: inset -15px -10px 0px -7px rgba(251, 216, 0, 1);
    -moz-box-shadow: inset -15px -10px 0px -7px rgba(251, 216, 0, 1);
    box-shadow: inset -15px -10px 0px -7px rgba(251, 216, 0, 1);
}

#comicbookguy .head .mouth2
{
    top: 76px;
    left: 42px;
    width: 23px;
    height: 11px;
    border-bottom: none;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    transform: rotate(10deg);
    -ms-transform: rotate(10deg);
    -webkit-transform: rotate(10deg);
}

#comicbookguy .head .mouth3
{
    top: 62px;
    left: 1px;
    width: 16px;
    height: 13px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    transform: rotate(10deg);
    -ms-transform: rotate(10deg);
    -webkit-transform: rotate(10deg);
}

#comicbookguy .head .mouth4
{
    top: 43px;
    left: 8px;
    width: 4px;
    height: 22px;
    border-left: none;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    transform: rotate(41deg);
    -ms-transform: rotate(41deg);
    -webkit-transform: rotate(41deg);
    box-shadow: 7px 1px 0px 4px rgba(251, 216, 0, 1);
    -webkit-box-shadow: 7px 1px 0px 4px rgba(251, 216, 0, 1);
    -moz-box-shadow: 7px 1px 0px 4px rgba(251, 216, 0, 1);
}

#comicbookguy .head .mouth5
{
    top: 62px;
    left: 5px;
    width: 20px;
    height: 15px;
    border-radius: 42%;
    -webkit-border-radius: 42%;
    -moz-border-radius: 42%;
}

#comicbookguy .head .beard
{
    background: #110b00;
}

#comicbookguy .head .beard1
{
    top: 61px;
    left: 8px;
    width: 6px;
    height: 1px;
    border-radius: 0 0 42% 0;
    -webkit-border-radius: 0 0 42% 0;
    -moz-border-radius: 0 0 42% 0;
    transform: rotate(62deg);
    -ms-transform: rotate(62deg);
    -webkit-transform: rotate(62deg);
}

#comicbookguy .head .beard2
{
    top: 62px;
    left: 12px;
    width: 6px;
    height: 1px;
    border-radius: 0 0 0 50%;
    -webkit-border-radius: 0 0 0 50%;
    -moz-border-radius: 0 0 0 50%;
    transform: rotate(-31deg);
    -ms-transform: rotate(-31deg);
    -webkit-transform: rotate(-31deg);
}

#comicbookguy .head .beard3
{
    top: 64px;
    left: 15px;
    width: 9px;
    height: 1px;
    border-radius: 50% 0 0 0;
    -webkit-border-radius: 50% 0 0 0;
    -moz-border-radius: 50% 0 0 0;
    transform: rotate(65deg);
    -ms-transform: rotate(65deg);
    -webkit-transform: rotate(65deg);
}

#comicbookguy .head .beard4
{
    top: 65px;
    left: 20px;
    width: 8px;
    height: 1px;
    border-radius: 0 0 0 50%;
    -webkit-border-radius: 0 0 0 50%;
    -moz-border-radius: 0 0 0 50%;
    transform: rotate(-44deg);
    -ms-transform: rotate(-44deg);
    -webkit-transform: rotate(-44deg);
}

#comicbookguy .head .beard5
{
    top: 66px;
    left: 25px;
    width: 9px;
    height: 1px;
    border-radius: 0 0 0 50%;
    -webkit-border-radius: 0 0 0 50%;
    -moz-border-radius: 0 0 0 50%;
    transform: rotate(53deg);
    -ms-transform: rotate(53deg);
    -webkit-transform: rotate(53deg);
}

#comicbookguy .head .beard6
{
    top: 67px;
    left: 31px;
    width: 7px;
    height: 1px;
    border-radius: 0 0 0 50%;
    -webkit-border-radius: 0 0 0 50%;
    -moz-border-radius: 0 0 0 50%;
    transform: rotate(-44deg);
    -ms-transform: rotate(-44deg);
    -webkit-transform: rotate(-44deg);
}

#comicbookguy .head .beard7
{
    top: 68px;
    left: 35px;
    width: 10px;
    height: 1px;
    border-radius: 0 0 0 50%;
    -webkit-border-radius: 0 0 0 50%;
    -moz-border-radius: 0 0 0 50%;
    transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

#comicbookguy .head .beard8
{
    top: 69px;
    left: 42px;
    width: 9px;
    height: 1px;
    border-radius: 0 0 0 50%;
    -webkit-border-radius: 0 0 0 50%;
    -moz-border-radius: 0 0 0 50%;
    transform: rotate(-44deg);
    -ms-transform: rotate(-44deg);
    -webkit-transform: rotate(-44deg);
}

#comicbookguy .head .beard9
{
    top: 69px;
    left: 48px;
    width: 9px;
    height: 1px;
    border-radius: 0 0 0 50%;
    -webkit-border-radius: 0 0 0 50%;
    -moz-border-radius: 0 0 0 50%;
    transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

#comicbookguy .head .beard10
{
    top: 69px;
    left: 54px;
    width: 11px;
    height: 1px;
    border-radius: 0 0 0 50%;
    -webkit-border-radius: 0 0 0 50%;
    -moz-border-radius: 0 0 0 50%;
    transform: rotate(-36deg);
    -ms-transform: rotate(-36deg);
    -webkit-transform: rotate(-36deg);
}

#comicbookguy .head .beard11
{
    top: 80px;
    left: 53px;
    width: 31px;
    height: 1px;
    border-radius: 0 0 0 50%;
    -webkit-border-radius: 0 0 0 50%;
    -moz-border-radius: 0 0 0 50%;
    transform: rotate(72deg);
    -ms-transform: rotate(72deg);
    -webkit-transform: rotate(72deg);
}

#comicbookguy .head .beard12
{
    top: 91px;
    left: 56px;
    width: 18px;
    height: 1px;
    border-radius: 0 0 0 50%;
    -webkit-border-radius: 0 0 0 50%;
    -moz-border-radius: 0 0 0 50%;
    transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    -webkit-transform: rotate(30deg);
}

#comicbookguy .head .beard13
{
    top: 91px;
    left: 51px;
    width: 10px;
    height: 1px;
    border-radius: 0 0 0 50%;
    -webkit-border-radius: 0 0 0 50%;
    -moz-border-radius: 0 0 0 50%;
    transform: rotate(-78deg);
    -ms-transform: rotate(-78deg);
    -webkit-transform: rotate(-78deg);
}

#comicbookguy .head .beard14
{
    top: 91px;
    left: 44px;
    width: 13px;
    height: 1px;
    border-radius: 0 0 0 50%;
    -webkit-border-radius: 0 0 0 50%;
    -moz-border-radius: 0 0 0 50%;
    transform: rotate(47deg);
    -ms-transform: rotate(47deg);
    -webkit-transform: rotate(47deg);
}

#comicbookguy .head .beard15
{
    top: 92px;
    left: 40px;
    width: 11px;
    height: 1px;
    border-radius: 0 0 0 50%;
    -webkit-border-radius: 0 0 0 50%;
    -moz-border-radius: 0 0 0 50%;
    transform: rotate(-78deg);
    -ms-transform: rotate(-78deg);
    -webkit-transform: rotate(-78deg);
}

#comicbookguy .head .beard16
{
    top: 93px;
    left: 36px;
    width: 11px;
    height: 1px;
    border-radius: 0 0 0 50%;
    -webkit-border-radius: 0 0 0 50%;
    -moz-border-radius: 0 0 0 50%;
    transform: rotate(61deg);
    -ms-transform: rotate(61deg);
    -webkit-transform: rotate(61deg);
}

#comicbookguy .head .beard17
{
    top: 93px;
    left: 32px;
    width: 10px;
    height: 1px;
    border-radius: 0 0 0 50%;
    -webkit-border-radius: 0 0 0 50%;
    -moz-border-radius: 0 0 0 50%;
    transform: rotate(-64deg);
    -ms-transform: rotate(-64deg);
    -webkit-transform: rotate(-64deg);
}

#comicbookguy .head .beard18
{
    top: 93px;
    left: 29px;
    width: 9px;
    height: 1px;
    border-radius: 0 0 0 50%;
    -webkit-border-radius: 0 0 0 50%;
    -moz-border-radius: 0 0 0 50%;
    transform: rotate(72deg);
    -ms-transform: rotate(72deg);
    -webkit-transform: rotate(72deg);
}

#comicbookguy .head .beard19
{
    top: 93px;
    left: 27px;
    width: 8px;
    height: 1px;
    border-radius: 0 0 0 50%;
    -webkit-border-radius: 0 0 0 50%;
    -moz-border-radius: 0 0 0 50%;
    transform: rotate(-72deg);
    -ms-transform: rotate(-72deg);
    -webkit-transform: rotate(-72deg);
}

#comicbookguy .head .beard20
{
    top: 92px;
    left: 24px;
    width: 9px;
    height: 1px;
    border-radius: 0 0 0 50%;
    -webkit-border-radius: 0 0 0 50%;
    -moz-border-radius: 0 0 0 50%;
    transform: rotate(72deg);
    -ms-transform: rotate(72deg);
    -webkit-transform: rotate(72deg);
}

#comicbookguy .head .beard21
{
    top: 91px;
    left: 21px;
    width: 8px;
    height: 1px;
    border-radius: 0 0 0 50%;
    -webkit-border-radius: 0 0 0 50%;
    -moz-border-radius: 0 0 0 50%;
    transform: rotate(-65deg);
    -ms-transform: rotate(-65deg);
    -webkit-transform: rotate(-65deg);
}