#homer *
{
    position: absolute;
    box-sizing:content-box;
    -moz-box-sizing:content-box;
}


#homer
{
    position: relative;
    width: 160px;
    height: 133px;
    margin: 0 auto;
}

#homer .head .hair1
{
    top: 14px;
    left: 32px;    
    height:13px;
    width:22px;
    border-radius: 22px 22px 0 0;
    -moz-border-radius: 22px 22px 0 0;
    -webkit-border-radius: 22px 22px 0 0;
    background: transparent;
    -webkit-transform: rotate(-44deg);
    -ms-transform: rotate(-44deg);
    transform: rotate(-44deg);
    border-top: 1px solid #110b00;
    border-left: 1px solid #110b00;
    border-right: 1px solid #110b00;
}

#homer .head .hair2
{
    top: 8px;
    left: 41px;    
    height:16px;
    width:26px;
    border-radius: 32px 32px 0 0;
    -moz-border-radius: 32px 32px 0 0;
    -webkit-border-radius: 32px 32px 0 0;
    background: transparent;
    -webkit-transform: rotate(-27deg);
    -ms-transform: rotate(-27deg);
    transform: rotate(-27deg);
    border-top: 1px solid #110b00;
    border-left: 1px solid #110b00;
    border-right: 1px solid #110b00;
}

#homer .head .head-top
{
    top: 15px;
    left: 34px;
    width: 65px;
    height: 62px;
    background: #fbd800;
    border-top: 1px solid #110b00;
    border-right: 1px solid #110b00;
    border-left: 1px solid #110b00;
    -webkit-transform: rotate(-24deg);
    -ms-transform: rotate(-24deg);
    transform: rotate(-24deg);
    -moz-border-radius: 43% 44% 0 0;
    -webkit-border-radius: 43% 44% 0 0;
    border-radius: 43% 44% 0 0;
    -webkit-box-shadow: inset 8px 12px 0px -12px rgba(247,254,140,1), inset 13px 3px 0px -11px rgba(247,254,140,1), inset -2px 0px 0px 0px rgba(229,158,4,1);
    -moz-box-shadow: inset 8px 12px 0px -12px rgba(247,254,140,1), inset 13px 3px 0px -11px rgba(247,254,140,1), inset -2px 0px 0px 0px rgba(229,158,4,1);
    box-shadow: inset 8px 12px 0px -12px rgba(247,254,140,1), inset 13px 3px 0px -11px rgba(247,254,140,1), inset -2px 0px 0px 0px rgba(229,158,4,1);
}

#homer .head .head-main
{
    top: 40px;
    left: 49px;
    width: 48px;
    height: 62px;
    background: #fbd800;
    -webkit-transform: rotate(-24deg);
    -ms-transform: rotate(-24deg);
    transform: rotate(-24deg);
}

#homer .head .m1, #homer .head .m2, #homer .head .m3, #homer .head .m4
{
    width: 1px;
    height: 14px;
    background: #110b00;
}

#homer .head .m1
{
    top: 77px;
    left: 41px;
    -webkit-transform: rotate(-13deg);
    -ms-transform: rotate(-13deg);
    transform: rotate(-13deg);
}

#homer .head .m2
{
    top: 76px;
    left: 44px;
    height: 12px;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

#homer .head .m3
{
    top: 71px;
    left: 48px;
    height: 15px;
    -webkit-transform: rotate(1deg);
    -ms-transform: rotate(1deg);
    transform: rotate(1deg);
}

#homer .head .m4
{
    top: 70px;
    left: 53px;
    -webkit-transform: rotate(-39deg);
    -ms-transform: rotate(-39deg);
    transform: rotate(-39deg);
}


#homer .head .bulge
{
    top: 60px;
    left: 90px;
    width: 15px;
    height: 15px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #fbd800;
    border: 2px solid #110b00;
}

#homer .head .ear
{
    top: 90px;
    left: 46px;
    width: 11px;
    height: 13px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #fbd800;
    border: 1px solid #110b00;
}

#homer .head .ear .inner1
{
    top: 3px;
    left: 2px;
    width: 7px;
    height: 5px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    border-top: 1px solid #110b00;
    -webkit-transform: rotate(-21deg);
    -ms-transform: rotate(-21deg);
    transform: rotate(-21deg);
}

#homer .head .ear .inner2
{
    top: 3px;
    left: 4px;
    width: 7px;
    height: 5px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    border-top: 1px solid #110b00;
    -webkit-transform: rotate(-109deg);
    -ms-transform: rotate(-109deg);
    transform: rotate(-109deg);
}

#homer .head .ear .clip
{
    top: 1px;
    left: 8px;
    width: 5px;
    height: 10px;
    background: #fbd800;
}

#homer .head .right-eye
{
    top: 48px;
    left: 80px;
    width: 31px;
    height: 31px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #ffffff;
    border: 1px solid #110b00;
    box-shadow: -2px -1px 0px 0px rgba(247,254,140,1);
}

#homer .head .right-eye .right-eye-pupil
{
    top: 11px;
    left: 20px;
    width: 4px;
    height: 4px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #110b00;
}

#homer .head .left-eye
{
    top: 51px;
    left: 55px;
    width: 31px;
    height: 31px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #ffffff;
    border: 1px solid #110b00;
    box-shadow: -1px -1px 0px 0px rgba(247,254,140,1);
}

#homer .head .left-eye .left-eye-pupil
{
    top: 13px;
    left: 11px;
    width: 4px;
    height: 4px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #110b00;
}

#homer .head .nose
{
    top: 71px;
    left: 82px;
    width: 18px;
    height: 12px;
    background: #fbd800;
    border-top: 1px solid #110b00;
    border-bottom: 1px solid #110b00;
    -webkit-transform: rotate(-13deg);
    -ms-transform: rotate(-13deg);
    transform: rotate(-13deg);
}

#homer .head .nose-tip
{
    top: 69px;
    left: 92px;
    width: 14px;
    height: 12px;
    background: #fbd800;
    border-top: 1px solid #110b00;
    border-right: 1px solid #110b00;
    border-bottom: 1px solid #110b00;
    -moz-border-radius: 0 50% 50% 0%;
    -webkit-border-radius: 0 50% 50% 0;
    border-radius: 0 50% 50% 0;
    -webkit-transform: rotate(-13deg);
    -ms-transform: rotate(-13deg);
    transform: rotate(-13deg);
}

#homer .head .neck1
{
    top: 85px;
    left: 48px;
    width: 6px;
    height: 31px;
    background: transparent;
    border-right: 1px solid #110b00;
    border-radius: 50% 50% 25% 50%;
    -webkit-transform: rotate(-14deg);
    -ms-transform: rotate(-14deg);
    transform: rotate(-14deg);
    -webkit-box-shadow: 2px 0px 0px 0px rgba(247,254,140,1), 5px 0px 0px 0px rgba(251,216,0,1);
    -moz-box-shadow: 2px 0px 0px 0px rgba(247,254,140,1), 5px 0px 0px 0px rgba(251,216,0,1);
    box-shadow: 2px 0px 0px 0px rgba(247,254,140,1), 5px 0px 0px 0px rgba(251,216,0,1);
}

#homer .head .neck2
{
    top: 114px;
    left: 57px;
    width: 45px;
    height: 19px;
    background: #fbd800;
    border-left: 1px solid #110b00;
    border-right: 1px solid #110b00;
    -webkit-box-shadow: inset 2px 0px 0px 0px rgba(247,254,140,1);
    -moz-box-shadow: inset 2px 0px 0px 0px rgba(247,254,140,1);
    box-shadow: inset 2px 0px 0px 0px rgba(247,254,140,1);
}

#homer .head .mouth1
{
    top: 86px;
    left: 60px;
    width: 48px;
    height: 44px;
    background: #cfae67;
    -moz-border-radius: 46% 52% 44% 50%;
    -webkit-border-radius: 46% 52% 44% 50%;
    border-radius: 46% 52% 44% 50%;
    border: 1px solid #110b00;
    -webkit-box-shadow: inset -1px -1px 0px 0px rgba(152,110,36,1);
    -moz-box-shadow: inset -1px -1px 0px 0px rgba(152,110,36,1);
    box-shadow: inset -1px -1px 0px 0px rgba(152,110,36,1);
}

#homer .head .mouth2
{
    top: 101px;
    left: 75px;
    width: 48px;
    height: 12px;
    background: #cfae67;
    -moz-border-radius: 46% 52% 44% 50%;
    -webkit-border-radius: 46% 52% 44% 50%;
    border-radius: 46% 52% 44% 50%;
    border: 1px solid #110b00;
    -webkit-transform: rotate(-15deg);
    -ms-transform: rotate(-15deg);
    transform: rotate(-15deg);
    -webkit-box-shadow: inset -1px 0px 0px 0px rgba(152,110,36,1);
    -moz-box-shadow: inset -1px 0px 0px 0px rgba(152,110,36,1);
    box-shadow: inset -1px 0px 0px 0px rgba(152,110,36,1);
}

#homer .head .mouth3
{
    top: 102px;
    left: 67px;
    width: 48px;
    height: 12px;
    background: transparent;
    -moz-border-radius: 46% 52% 44% 50%;
    -webkit-border-radius: 46% 52% 44% 50%;
    border-radius: 46% 52% 44% 50%;
    border-bottom: 1px solid #110b00;
    -webkit-transform: rotate(-4deg);
    -ms-transform: rotate(-4deg);
    transform: rotate(-4deg);
    border-top: none;
}

#homer .head .mouth4
{
    top: 110px;
    left: 70px;
    width: 7px;
    height: 5px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    border-top: 1px solid #110b00;
    -webkit-transform: rotate(-81deg);
    -ms-transform: rotate(-81deg);
    transform: rotate(-81deg);
}

#homer .head .mouth5
{
    top: 84px;
    left: 96px;
    width: 27px;
    height: 13px;
    background: transparent;
    -moz-border-radius: 46% 52% 44% 50%;
    -webkit-border-radius: 46% 52% 44% 50%;
    border-radius: 46% 52% 44% 50%;
    border: 1px solid #110b00;
    -webkit-transform: rotate(-131deg);
    -ms-transform: rotate(-131deg);
    transform: rotate(-131deg);
    border-top: none;
    -webkit-box-shadow: inset -1px -1px 0px 0px rgba(152,110,36,1);
    -moz-box-shadow: inset -1px -1px 0px 0px rgba(152,110,36,1);
    box-shadow: inset -1px -1px 0px 0px rgba(152,110,36,1);
}

#homer .head .mouth6
{
    top: 84px;
    left: 78px;
    width: 32px;
    height: 31px;
    background: #cfae67;
    -webkit-transform: rotate(-18deg);
    -ms-transform: rotate(-18deg);
    transform: rotate(-18deg);
    -moz-border-radius: 0 0 0px 22px;
    -webkit-border-radius: 0 0 0px 22px;
    border-radius: 0 0 0px 22px;
}

#homer .head .mouth7
{
    top: 104px;
    left: 94px;
    width: 17px;
    height: 12px;
    background: #cfae67;
    -moz-border-radius: 46% 52% 44% 50%;
    -webkit-border-radius: 46% 52% 44% 50%;
    border-radius: 46% 52% 44% 50%;
    border: 1px solid #110b00;
    border-left: none;
    border-bottom: none;
    -webkit-transform: rotate(6deg);
    -ms-transform: rotate(6deg);
    transform: rotate(6deg);
}

#homer .head .mouth8
{
    top: 79px;
    left: 103px;
    width: 15px;
    height: 30px;
    background: #cfae67;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    -webkit-transform: rotate(-30deg);
    -ms-transform: rotate(-30deg);
    transform: rotate(-30deg);
}