#lisa *
{
    position: absolute;
    box-sizing:content-box;
    -moz-box-sizing:content-box;
}

#lisa
{
    position: relative;
    width: 111px;
    height: 120px;
    margin: 0 auto;
}

#lisa .head *
{
    border: 1px solid #110b00;
}

#lisa .head .no-border
{
    border: none;
}

#lisa .head .body
{
    background: #fbd800;
}

#lisa .head .head-main
{
    top: 27px;
    left: 21px;
    width: 69px;
    height: 68px;
    transform: rotate(5deg);
    -ms-transform: rotate(5deg);
    -webkit-transform: rotate(5deg);
    -webkit-border-bottom-right-radius: 26px;
    -moz-border-radius-bottomright: 26px;
    border-bottom-right-radius: 26px;
}

#lisa .head .head-main2
{
    top: 46px;
    left: 14px;
    width: 52px;
    height: 36px;
    transform: rotate(-1deg);
    -ms-transform: rotate(-1deg);
    -webkit-transform: rotate(-1deg);
}

#lisa .head .head-main3
{
    top: 17px;
    left: 32px;
    width: 52px;
    height: 20px;
    transform: rotate(-1deg);
    -ms-transform: rotate(-1deg);
    -webkit-transform: rotate(-1deg);
}

#lisa .head .hair
{
    border-right: none;
    border-bottom: none;
    border-top-left-radius: 2px;
    -webkit-border-top-left-radius: 2px;
    -moz-border-radius-topleft: 2px;
}

#lisa .head .hair1
{
    top: 83px;
    left: 24px;
    width: 16px;
    height: 16px;
    background: #eeb011;
    transform: rotate(-45deg) skew(0deg, 14deg);
    -ms-transform: rotate(-45deg) skew(0deg, 14deg);
    -webkit-transform: rotate(-112deg) skew(0deg, 14deg);
}

#lisa .head .hair2
{
    top: 78px;
    left: 12px;
    width: 13px;
    height: 15px;
    transform: rotate(-88deg) skew(0deg, 14deg);
    -ms-transform: rotate(-88deg) skew(0deg, 14deg);
    -webkit-transform: rotate(-88deg) skew(0deg, 14deg);
    -webkit-box-shadow: inset 9px 8px 0px 0px  rgba(238,176,17,1);
    -moz-box-shadow: inset 9px 8px 0px 0px  rgba(238,176,17,1);
    box-shadow: inset 9px 8px 0px 0px  rgba(238,176,17,1);
}

#lisa .head .hair3
{
    top: 57px;
    left: 4px;
    width: 18px;
    height: 18px;
    transform: rotate(-47deg) skew(0deg, 2deg);
    -ms-transform: rotate(-47deg) skew(0deg, 2deg);
    -webkit-transform: rotate(-47deg) skew(0deg, 2deg);
    -webkit-box-shadow: inset 9px 8px 0px 0px  rgba(238,176,17,1);
    -moz-box-shadow: inset 9px 8px 0px 0px  rgba(238,176,17,1);
    box-shadow: inset 9px 8px 0px 0px  rgba(238,176,17,1);
}

#lisa .head .hair4
{
    top: 31px;
    left: 8px;
    width: 19px;
    height: 20px;
    transform: rotate(-21deg) skew(0deg, 2deg);
    -ms-transform: rotate(-21deg) skew(0deg, 2deg);
    -webkit-transform: rotate(-21deg) skew(0deg, 2deg);
    -webkit-box-shadow: inset 9px 4px 0px 0px rgba(238,176,17,1);
    -moz-box-shadow: inset 9px 4px 0px 0px rgba(238,176,17,1);
    box-shadow: inset 9px 4px 0px 0px rgba(238,176,17,1);
}

#lisa .head .hair5
{
    top: 12px;
    left: 23px;
    width: 23px;
    height: 20px;
    transform: rotate(22deg) skew(17deg, 0deg);
    -ms-transform: rotate(22deg) skew(17deg, 0deg);
    -webkit-transform: rotate(22deg) skew(17deg, 0deg);
    border-top-left-radius: 6px;
    -webkit-border-top-left-radius: 6px;
    -moz-border-radius-topleft: 6px;
    -webkit-box-shadow: inset 2px 0px 0px 0px rgba(238,176,17,1);
    -moz-box-shadow: inset 2px 0px 0px 0px rgba(238,176,17,1);
    box-shadow: inset 2px 0px 0px 0px rgba(238,176,17,1);
}

#lisa .head .hair6
{
    top: 6px;
    left: 48px;
    width: 23px;
    height: 20px;
    transform: rotate(48deg) skew(14deg, 0deg);
    -ms-transform: rotate(48deg) skew(14deg, 0deg);
    -webkit-transform: rotate(48deg) skew(14deg, 0deg);
    border-top-left-radius: 4px;
    -webkit-border-top-left-radius: 4px;
    -moz-border-radius-topleft: 4px;
    -webkit-box-shadow: inset 0px 3px 0px 0px rgba(255,243,164,1);
    -moz-box-shadow: inset 0px 3px 0px 0px rgba(255,243,164,1);
    box-shadow: inset 0px 3px 0px 0px rgba(255,243,164,1);
}

#lisa .head .hair7
{
    top: 14px;
    left: 72px;
    width: 21px;
    height: 21px;
    transform: rotate(94deg) skew(11deg, 0deg);
    -ms-transform: rotate(94deg) skew(11deg, 0deg);
    -webkit-transform: rotate(94deg) skew(11deg, 0deg);
    border-top-left-radius: 4px;
    -webkit-border-top-left-radius: 4px;
    -moz-border-radius-topleft: 4px;
    -webkit-box-shadow: inset 3px 4px 0px 0px rgba(255,243,164,1);
    -moz-box-shadow: inset 3px 4px 0px 0px rgba(255,243,164,1);
    box-shadow: inset 3px 4px 0px 0px rgba(255,243,164,1);
}

#lisa .head .hair8
{
    top: 36px;
    left: 82px;
    width: 23px;
    height: 20px;
    transform: rotate(139deg) skew(22deg, 0deg);
    -ms-transform: rotate(139deg) skew(22deg, 0deg);
    -webkit-transform: rotate(139deg) skew(22deg, 0deg);
    border-top-left-radius: 4px;
    -webkit-border-top-left-radius: 6px;
    -moz-border-radius-topleft: 4px;
    -webkit-box-shadow: inset 3px 0px 0px 0px rgba(255,243,164,1);
    -moz-box-shadow: inset 3px 0px 0px 0px rgba(255,243,164,1);
    box-shadow: inset 3px 0px 0px 0px rgba(255,243,164,1);
}

#lisa .head .hair9
{
    top: 73px;
    left: 14px;
    width: 8px;
    height: 13px;
    background: #eeb011;
    transform: rotate(-10deg);
    -ms-transform: rotate(-10deg);
    -webkit-transform: rotate(-10deg);
}

#lisa .head .hair10
{
    top: 49px;
    left: 13px;
    width: 8px;
    height: 10px;
    background: #eeb011;
    transform: rotate(12deg);
    -ms-transform: rotate(12deg);
    -webkit-transform: rotate(12deg);
}

#lisa .head .ear
{
    top: 77px;
    left: 27px;
    width: 11px;
    height: 13px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -webkit-box-shadow: inset 0px -5px 0px 0px rgba(238,176,17,1);
    -moz-box-shadow: inset 0px -5px 0px 0px rgba(238,176,17,1);
    box-shadow: inset 0px 0px -5px 0px rgba(238,176,17,1);
}

#lisa .head .ear .inner1
{
    top: 3px;
    left: 3px;
    width: 6px;
    height: 5px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    border-top: 1px solid #110b00;
    -webkit-transform: rotate(3deg);
    -ms-transform: rotate(3deg);
    transform: rotate(3deg);
}

#lisa .head .ear .inner2
{
    top: 3px;
    left: 5px;
    width: 5px;
    height: 5px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    border-top: 1px solid #110b00;
    -webkit-transform: rotate(-93deg);
    -ms-transform: rotate(-93deg);
    transform: rotate(-93deg);
}

#lisa .head .ear .clip
{
    top: 1px;
    left: 9px;
    width: 3px;
    height: 8px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
}

#lisa .head .eyelash
{
    width: 1px;
    height: 7px;
    background: #110b00;
}

#lisa .head .eyelash1
{
    top: 60px;
    left: 38px;
    -webkit-transform: rotate(-85deg);
    -ms-transform: rotate(-85deg);
    transform: rotate(-85deg);
}

#lisa .head .eyelash2
{
    top: 49px;
    left: 41px;
    -webkit-transform: rotate(-46deg);
    -ms-transform: rotate(-46deg);
    transform: rotate(-46deg);
}

#lisa .head .eyelash3
{
    top: 43px;
    left: 52px;
    -webkit-transform: rotate(-17deg);
    -ms-transform: rotate(-17deg);
    transform: rotate(-17deg);
}

#lisa .head .eyelash4
{
    top: 45px;
    left: 63px;
    -webkit-transform: rotate(12deg);
    -ms-transform: rotate(12deg);
    transform: rotate(12deg);
}

#lisa .head .eyelash5
{
    top: 46px;
    left: 74px;
    -webkit-transform: rotate(-20deg);
    -ms-transform: rotate(-20deg);
    transform: rotate(-20deg);
}

#lisa .head .eyelash6
{
    top: 45px;
    left: 85px;
    transform: rotate(7deg);
    -ms-transform: rotate(7deg);
    -webkit-transform: rotate(7deg);
}

#lisa .head .eyelash7
{
    top: 50px;
    left: 93px;
    transform: rotate(41deg);
    -ms-transform: rotate(41deg);
    -webkit-transform: rotate(41deg);
}

#lisa .head .eyelash8
{
    top: 59px;
    left: 96px;
    transform: rotate(74deg);
    -ms-transform: rotate(74deg);
    -webkit-transform: rotate(74deg);
}

#lisa .head .right-eye
{
    top: 49px;
    left: 68px;
    width: 25px;
    height: 25px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #ffffff;
    overflow: hidden;
}

#lisa .head .right-eye .right-eye-pupil
{
    top: 11px;
    left: 13px;
    width: 4px;
    height: 4px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #110b00;
}

#lisa .head .right-eye .eyelid-top
{
    top: -18px;
    left: 0px;
    width: 30px;
    height: 15px;
    border-bottom: 1px solid #110b00;
    border-radius: 50% 50% 0 0;
    
    -webkit-animation-name: lisarighteyelidtop;
    -webkit-animation-duration: 10s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-delay: 2s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-play-state: running;
    animation-name: lisarighteyelidtop;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    animation-play-state: running;
}

#lisa .head .right-eye .eyelid-bottom
{
    bottom: -11px;
    left: 0px;
    width: 30px;
    height: 7px;
    border-top: 1px solid #110b00;
    border-radius: 0 0 50% 50%;
    
    -webkit-animation-name: lisarighteyelidbottom;
    -webkit-animation-duration: 10s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-delay: 2s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-play-state: running;
    animation-name: lisarighteyelidbottom;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    animation-play-state: running;
}

@-webkit-keyframes lisarighteyelidtop
{
0% {top: -18px;}
2% {top: 0px;}
4% {top: -18px;}
100% {top: -18px;}
}

@keyframes lisarighteyelidtop
{
0% {top: -18px;}
2% {top: 0px;}
4% {top: -18px;}
100% {top: -18px;}
}

@-webkit-keyframes lisarighteyelidbottom
{
0% {bottom: -11px;}
2% {bottom: 0px;}
4% {bottom: -11px;}
100% {bottom: -11px;}
}

@keyframes lisarighteyelidbottom
{
0% {bottom: -11px;}
2% {bottom: 0px;}
4% {bottom: -11px;}
100% {bottom: -11px;}
}

#lisa .head .left-eye
{
    top: 48px;
    left: 41px;
    width: 29px;
    height: 28px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #ffffff;
    overflow: hidden;
    -webkit-box-shadow: -9px 13px 0px -7px rgba(251, 216, 0, 1);
    -moz-box-shadow: -9px 13px 0px -7px rgba(251, 216, 0, 1);
    box-shadow: -9px 13px 0px -7px rgba(251, 216, 0, 1);
}

#lisa .head .left-eye .left-eye-pupil
{
    top: 11px;
    left: 9px;
    width: 4px;
    height: 4px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #110b00;
}

#lisa .head .left-eye .eyelid-top
{
    top: -21px;
    left: 0px;
    width: 30px;
    height: 15px;
    border-bottom: 1px solid #110b00;
    border-radius: 50% 50% 0 0;
    
    -webkit-animation-name: lisalefteyelidtop;
    -webkit-animation-duration: 10s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-delay: 2s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-play-state: running;
    animation-name: lisalefteyelidtop;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    animation-play-state: running;
}

#lisa .head .left-eye .eyelid-bottom
{
    bottom: -11px;
    left: 0px;
    width: 30px;
    height: 9px;
    border-top: 1px solid #110b00;
    border-radius: 0 0 50% 50%;
    
    -webkit-animation-name: lisalefteyelidbottom;
    -webkit-animation-duration: 10s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-delay: 2s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-play-state: running;
    animation-name: lisalefteyelidbottom;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    animation-play-state: running;
}


@-webkit-keyframes lisalefteyelidtop
{
0% {top: -21px;}
2% {top: 0px;}
4% {top: -21px;}
100% {top: -21px;}
}


@keyframes lisalefteyelidtop
{
0% {top: -21px;}
2% {top: 0px;}
4% {top: -21px;}
100% {top: -21px;}
}

@-webkit-keyframes lisalefteyelidbottom
{
0% {bottom: -11px;}
2% {bottom: 0px;}
4% {bottom: -11px;}
100% {bottom: -11px;}
}


@keyframes lisalefteyelidbottom
{
0% {bottom: -11px;}
2% {bottom: 0px;}
4% {bottom: -11px;}
100% {bottom: -11px;}
}

#lisa .head .nose
{
    top: 68px;
    left: 63px;
    width: 12px;
    height: 12px;
    border-top: 1px solid #110b00;
    -webkit-transform: rotate(3deg);
    -ms-transform: rotate(3deg);
    transform: rotate(3deg);
}

#lisa .head .nose-tip
{
    top: 68px;
    left: 73px;
    width: 12px;
    height: 9px;
    border-left: none;
    -moz-border-radius: 0 50% 50% 0%;
    -webkit-border-radius: 0 50% 50% 0;
    border-radius: 0 50% 50% 0;
    -webkit-transform: rotate(-2deg);
    -ms-transform: rotate(-2deg);
    transform: rotate(-2deg);
}

#lisa .head .mouth
{
    top: 77px;
    left: 46px;
    width: 50px;
    height: 15px;
    border-bottom: 1px solid #110b00;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    -webkit-box-shadow: inset -2px 0px 0px 0px rgba(255,243,164,1);
    -moz-box-shadow: inset -2px 0px 0px 0px rgba(255,243,164,1);
    box-shadow: inset -2px 0px 0px 0px rgba(255,243,164,1);
}

#lisa .head .mouth-smile
{
    top: 85px;
    left: 45px;
    width: 7px;
    height: 5px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    border-top: 1px solid #110b00;
    -webkit-transform: rotate(-52deg);
    -ms-transform: rotate(-52deg);
    transform: rotate(-52deg);
}

#lisa .head .mouth-lip
{
    top: 75px;
    left: 45px;
    width: 50px;
    height: 16px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

#lisa .head .mouth-lip2
{
    top: 83px;
    left: 46px;
    width: 30px;
    height: 14px;
    -moz-border-radius: 32%;
    -webkit-border-radius: 32%;
    border-radius: 32%;
}

#lisa .head .neck
{
    top: 83px;
    left: 39px;
    width: 28px;
    height: 15px;
    border-left: 1px solid #110b00;
    transform: rotate(-5deg);
    -webkit-transform: rotate(-5deg);
    -ms-transform: rotate(-5deg);
}

#lisa .head .neck2
{
    top: 98px;
    left: 40px;
    width: 30px;
    height: 17px;
    border-left: 1px solid #110b00;
    border-right: 1px solid #110b00;
    transform: rotate(-1deg);
    -webkit-transform: rotate(-1deg);
    -ms-transform: rotate(-1deg);
}

#lisa .head .neck3
{
    top: 70px;
    left: 79px;
    width: 12px;
    height: 18px;
    border-right: 1px solid #110b00;
    -webkit-transform: rotate(-39deg);
    -ms-transform: rotate(-39deg);
    transform: rotate(-39deg);
    -webkit-box-shadow: inset -2px 0px 0px 0px rgba(255,243,164,1);
    -moz-box-shadow: inset -2px 0px 0px 0px rgba(255,243,164,1);
    box-shadow: inset -2px 0px 0px 0px rgba(255,243,164,1);
}

#lisa .head .necklace
{
    width: 8px;
    height: 8px;
    background: #ffffff;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
}

#lisa .head .necklace1
{
    top: 107px;
    left: 35px;
}

#lisa .head .necklace2
{
    top: 110px;
    left: 44px;
}

#lisa .head .necklace3
{
    top: 110px;
    left: 53px;
}

#lisa .head .necklace4
{
    top: 109px;
    left: 63px;
}

#lisa .head .necklace5
{
    top: 108px;
    left: 69px;
}