#maggie *
{
    position: absolute;
    box-sizing:content-box;
    -moz-box-sizing:content-box;
}

#maggie
{
    position: relative;
    width: 111px;
    height: 106px;
    margin: 0 auto;
}

#maggie .head *
{
    border: 1px solid #110b00;
}

#maggie .head .no-border
{
    border: none;
}

#maggie .head .circle
{
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
}

#maggie .head .body
{
    background: #fbd800;
}

#maggie .head .head-main
{
    top: 17px;
    left: 25px;
    width: 67px;
    height: 66px;
    transform: rotate(11deg);
    -ms-transform: rotate(11deg);
    -webkit-transform: rotate(11deg);
    -webkit-border-bottom-right-radius: 26px;
    -moz-border-radius-bottomright: 26px;
    border-bottom-right-radius: 26px;
}

#maggie .head .hair
{
    border-right: none;
    border-bottom: none;
    border-top-left-radius: 2px;
    -webkit-border-top-left-radius: 2px;
    -moz-border-radius-topleft: 2px;
}

#maggie .head .hair1
{
    top: 89px;
    left: 31px;
    width: 9px;
    height: 14px;
    border-top-left-radius: 4px;
    -webkit-border-top-left-radius: 4px;
    -moz-border-radius-topleft: 4px;
    transform: rotate(-97deg) skew(0deg, 8deg);
    -ms-transform: rotate(-97deg) skew(0deg, 8deg);
    -webkit-transform: rotate(-97deg) skew(0deg, 8deg);
}

#maggie .head .hair2
{
    top: 73px;
    left: 17px;
    width: 18px;
    height: 20px;
    border-top-left-radius: 4px;
    -webkit-border-top-left-radius: 4px;
    -moz-border-radius-topleft: 4px;
    transform: rotate(-88deg) skew(0deg, 14deg);
    -ms-transform: rotate(-88deg) skew(0deg, 14deg);
    -webkit-transform: rotate(-88deg) skew(0deg, 14deg);
}

#maggie .head .hair3
{
    top: 51px;
    left: 6px;
    width: 22px;
    height: 21px;
    border-top-left-radius: 6px;
    -webkit-border-top-left-radius: 6px;
    -moz-border-radius-topleft: 6px;
    transform: rotate(-62deg) skew(3deg, 18deg);
    -ms-transform: rotate(-62deg) skew(3deg, 18deg);
    -webkit-transform: rotate(-62deg) skew(3deg, 18deg);
    box-shadow: 5px 1px 0px 0px rgba(251, 216, 0, 1);
    -webkit-box-shadow: 5px 1px 0px 0px rgba(251, 216, 0, 1);
    -moz-box-shadow: 5px 1px 0px 0px rgba(251, 216, 0, 1);
}

#maggie .head .hair4
{
    top: 25px;
    left: 10px;
    width: 23px;
    height: 24px;
    border-top-left-radius: 7px;
    -webkit-border-top-left-radius: 7px;
    -moz-border-radius-topleft: 7px;
    transform: rotate(-21deg) skew(10deg, 15deg);
    -ms-transform:rotate(-21deg) skew(10deg, 15deg);
    -webkit-transform: rotate(-21deg) skew(10deg, 15deg);
}

#maggie .head .hair5
{
    top: 9px;
    left: 29px;
    width: 23px;
    height: 21px;
    transform: rotate(28deg) skew(17deg, 0deg);
    -ms-transform: rotate(28deg) skew(17deg, 0deg);
    -webkit-transform: rotate(28deg) skew(17deg, 0deg);
    border-top-left-radius: 6px;
    -webkit-border-top-left-radius: 6px;
    -moz-border-radius-topleft: 6px;
}

#maggie .head .hair6
{
    top: 8px;
    left: 53px;
    width: 26px;
    height: 20px;
    transform: rotate(65deg) skew(21deg, 0deg);
    -ms-transform: rotate(65deg) skew(21deg, 0deg);
    -webkit-transform: rotate(65deg) skew(21deg, 0deg);
    border-top-left-radius: 6px;
    -webkit-border-top-left-radius: 6px;
    -moz-border-radius-topleft: 6px;
}

#maggie .head .hair7
{
    top: 20px;
    left: 77px;
    width: 21px;
    height: 18px;
    transform: rotate(94deg) skew(20deg, 0deg);
    -ms-transform: rotate(94deg) skew(20deg, 0deg);
    -webkit-transform: rotate(94deg) skew(20deg, 0deg);
    border-top-left-radius: 4px;
    -webkit-border-top-left-radius: 4px;
    -moz-border-radius-topleft: 4px;
}

#maggie .head .hair8
{
    top: 41px;
    left: 81px;
    width: 28px;
    height: 15px;
    transform: rotate(139deg) skew(37deg, 0deg);
    -ms-transform: rotate(139deg) skew(37deg, 0deg);
    -webkit-transform: rotate(139deg) skew(37deg, 0deg);
    border-top-left-radius: 12px;
    -webkit-border-top-left-radius: 12px;
    -moz-border-radius-topleft: 12px;
}

#maggie .head .bow
{
    background: #67ccf4;
}

#maggie .head .bow1
{
    top: 22px;
    left: 61px;
    width: 8px;
    height: 10px;
    border-radius: 19% 47% 50% 35% / 33% 50% 50% 49%;
    -webkit-border-radius: 19% 47% 50% 35% / 33% 50% 50% 49%;
    -moz-border-radius: 19% 47% 50% 35% / 33% 50% 50% 49%;
    transform: perspective(10px) rotateX(-10deg) rotateY(24deg) rotate(-85deg);
    -ms-transform: perspective(10px) rotateX(-10deg) rotateY(24deg) rotate(-85deg);
    -webkit-transform: perspective(10px) rotateX(-10deg) rotateY(24deg) rotate(-85deg);
    transform-origin: left center;
    -ms-transform-origin: left center;
    -webkit-transform-origin: left center;
}

#maggie .head .bow2
{
    top: 20px;
    left: 65px;
    width: 4px;
    height: 6px;
    transform: rotate(7deg);
    -ms-transform: rotate(7deg);
    -webkit-transform: rotate(7deg);
}

#maggie .head .bow3
{
    top: 23px;
    left: 73px;
    width: 8px;
    height: 10px;
    border-radius: 19% 59% 68% 24% / 33% 56% 50% 26%;
    -webkit-border-radius: 19% 59% 68% 24% / 33% 56% 50% 26%;
    -moz-border-radius: 19% 59% 68% 24% / 33% 56% 50% 26%;
    transform: perspective(10px) rotateX(-2deg) rotateY(-28deg) rotate(-72deg);
    -ms-transform: perspective(10px) rotateX(-2deg) rotateY(-28deg) rotate(-72deg);
    -webkit-transform: perspective(10px) rotateX(-2deg) rotateY(-28deg) rotate(-72deg);
    transform-origin: left center;
    -ms-transform-origin: left center;
    -webkit-transform-origin: left center;
}

#maggie .head .ear
{
    top: 80px;
    left: 30px;
    width: 11px;
    height: 11px;
    box-shadow: inset 0px 0px -5px 0px rgba(238,176,17,1), 0px -4px 0px 0px rgba(251, 216, 0, 1);
    -webkit-box-shadow: inset 0px -5px 0px 0px rgba(238,176,17,1), 0px -4px 0px 0px rgba(251, 216, 0, 1);
    -moz-box-shadow: inset 0px -5px 0px 0px rgba(238,176,17,1), 0px -4px 0px 0px rgba(251, 216, 0, 1);
}

#maggie .head .ear .inner1
{
    top: 3px;
    left: 3px;
    width: 6px;
    height: 5px;
    border-top: 1px solid #110b00;
    transform: rotate(3deg);
    -webkit-transform: rotate(3deg);
    -ms-transform: rotate(3deg);
}

#maggie .head .ear .inner2
{
    top: 3px;
    left: 5px;
    width: 5px;
    height: 5px;
    border-top: 1px solid #110b00;
    transform: rotate(-93deg);
    -webkit-transform: rotate(-93deg);
    -ms-transform: rotate(-93deg);
}

#maggie .head .ear .clip
{
    top: 1px;
    left: 9px;
    width: 3px;
    height: 8px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
}

#maggie .head .eyelash
{
    width: 1px;
    height: 7px;
    background: #110b00;
}

#maggie .head .eyelash1
{
    top: 60px;
    left: 38px;
    transform: rotate(-85deg);
    -webkit-transform: rotate(-85deg);
    -ms-transform: rotate(-85deg);
}

#maggie .head .eyelash2
{
    top: 49px;
    left: 41px;
    transform: rotate(-46deg);
    -webkit-transform: rotate(-46deg);
    -ms-transform: rotate(-46deg);
}

#maggie .head .eyelash3
{
    top: 43px;
    left: 52px;
    transform: rotate(-17deg);
    -webkit-transform: rotate(-17deg);
    -ms-transform: rotate(-17deg);
}

#maggie .head .eyelash4
{
    top: 45px;
    left: 63px;
    transform: rotate(12deg);
    -webkit-transform: rotate(12deg);
    -ms-transform: rotate(12deg);
}

#maggie .head .eyelash5
{
    top: 46px;
    left: 74px;
    transform: rotate(-20deg);
    -webkit-transform: rotate(-20deg);
    -ms-transform: rotate(-20deg);
}

#maggie .head .eyelash6
{
    top: 45px;
    left: 85px;
    transform: rotate(7deg);
    -ms-transform: rotate(7deg);
    -webkit-transform: rotate(7deg);
}

#maggie .head .eyelash7
{
    top: 50px;
    left: 93px;
    transform: rotate(41deg);
    -ms-transform: rotate(41deg);
    -webkit-transform: rotate(41deg);
}

#maggie .head .eyelash8
{
    top: 59px;
    left: 96px;
    transform: rotate(74deg);
    -ms-transform: rotate(74deg);
    -webkit-transform: rotate(74deg);
}

#maggie .head .eye
{
    background: #ffffff;
    overflow: hidden;
}

#maggie .head .eye .pupil
{
    background: #110b00;
}

#maggie .head .right-eye
{
    top: 46px;
    left: 66px;
    width: 26px;
    height: 25px;
}

#maggie .head .right-eye .pupil
{
    top: 11px;
    left: 13px;
    width: 4px;
    height: 4px;
}

#maggie .head .right-eye .eyelid-top
{
    top: -16px;
    left: 0px;
    width: 26px;
    height: 15px;
    border-bottom: 1px solid #110b00;
    border-radius: 50% 50% 0 0;
    
    -webkit-animation-name: maggierighteyelidtop;
    -webkit-animation-duration: 10s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-delay: 0.9s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-play-state: running;
    animation-name: maggierighteyelidtop;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-delay: 0.9s;
    animation-iteration-count: infinite;
    animation-play-state: running;
}

#maggie .head .right-eye .eyelid-bottom
{
    bottom: -9px;
    left: 0px;
    width: 26px;
    height: 8px;
    border-top: 1px solid #110b00;
    border-radius: 0 0 50% 50%;
    
    -webkit-animation-name: maggierighteyelidbottom;
    -webkit-animation-duration: 10s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-delay: 0.9s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-play-state: running;
    animation-name: maggierighteyelidbottom;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-delay: 0.9s;
    animation-iteration-count: infinite;
    animation-play-state: running;
}

@-webkit-keyframes maggierighteyelidtop
{
0% {top: -16px;}
2% {top: 0px;}
4% {top: -16px;}
100% {top: -16px;}
}

@keyframes maggierighteyelidtop
{
0% {top: -16px;}
2% {top: 0px;}
4% {top: -16px;}
100% {top: -16px;}
}

@-webkit-keyframes maggierighteyelidbottom
{
0% {bottom: -9px;}
2% {bottom: 0px;}
4% {bottom: -9px;}
100% {bottom: -9px;}
}

@keyframes maggierighteyelidbottom
{
0% {bottom: -9px;}
2% {bottom: 0px;}
4% {bottom: -9px;}
100% {bottom: -9px;}
}

#maggie .head .left-eye
{
    top: 47px;
    left: 40px;
    width: 28px;
    height: 27px;
    -webkit-box-shadow: -9px 13px 0px -7px rgba(251, 216, 0, 1);
    -moz-box-shadow: -9px 13px 0px -7px rgba(251, 216, 0, 1);
    box-shadow: -9px 13px 0px -7px rgba(251, 216, 0, 1);
}

#maggie .head .left-eye .pupil
{
    top: 11px;
    left: 9px;
    width: 4px;
    height: 4px;
}

#maggie .head .left-eye .eyelid-top
{
    top: -18px;
    left: 0px;
    width: 28px;
    height: 17px;
    border-bottom: 1px solid #110b00;
    border-radius: 50% 50% 0 0;
    
    -webkit-animation-name: maggielefteyelidtop;
    -webkit-animation-duration: 10s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-delay: 0.9s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-play-state: running;
    animation-name: maggielefteyelidtop;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-delay: 0.9s;
    animation-iteration-count: infinite;
    animation-play-state: running;
}

#maggie .head .left-eye .eyelid-bottom
{
    bottom: -9px;
    left: 0px;
    width: 28px;
    height: 8px;
    border-top: 1px solid #110b00;
    border-radius: 0 0 50% 50%;
    
    -webkit-animation-name: maggielefteyelidbottom;
    -webkit-animation-duration: 10s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-delay: 0.9s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-play-state: running;
    animation-name: maggielefteyelidbottom;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-delay: 0.9s;
    animation-iteration-count: infinite;
    animation-play-state: running;
}


@-webkit-keyframes maggielefteyelidtop
{
0% {top: -18px;}
2% {top: 0px;}
4% {top: -18px;}
100% {top: -18px;}
}


@keyframes maggielefteyelidtop
{
0% {top: -18px;}
2% {top: 0px;}
4% {top: -18px;}
100% {top: -18px;}
}

@-webkit-keyframes maggielefteyelidbottom
{
0% {bottom: -9px;}
2% {bottom: 0px;}
4% {bottom: -9px;}
100% {bottom: -9px;}
}


@keyframes maggielefteyelidbottom
{
0% {bottom: -9px;}
2% {bottom: 0px;}
4% {bottom: -9px;}
100% {bottom: -9px;}
}

#maggie .head .nose-tip
{
    top: 67px;
    left: 69px;
    width: 12px;
    height: 9px;
    border-left: none;
    -moz-border-radius: 0 50% 50% 0%;
    -webkit-border-radius: 0 50% 50% 0;
    border-radius: 0 50% 50% 0;
    -webkit-transform: rotate(-2deg);
    -ms-transform: rotate(-2deg);
    transform: rotate(-2deg);
    -webkit-box-shadow: 5px 8px 0px 0px rgba(251, 216, 0, 1);
    -moz-box-shadow: 5px 8px 0px 0px rgba(251, 216, 0, 1);
    box-shadow: 5px 8px 0px 0px rgba(251, 216, 0, 1);
}

#maggie .head .cheek
{
    top: 68px;
    left: 77px;
    width: 12px;
    height: 16px;
    transform: rotate(9deg);
    -ms-transform: rotate(9deg);
    -webkit-transform: rotate(9deg);
}

#maggie .head .mouth
{
    top: 88px;
    left: 62px;
    width: 12px;
    height: 16px;
    transform: rotate(9deg);
    -ms-transform: rotate(9deg);
    -webkit-transform: rotate(9deg);
}


#maggie .head .dummy
{
    background: #ee5c2d;
}

#maggie .head .dummy1
{
    top: 84px;
    left: 67px;
    width: 25px;
    height: 15px;
    transform: rotate(-39deg);
    -ms-transform: rotate(-39deg);
    -webkit-transform: rotate(-39deg);
    -webkit-box-shadow: -7px -10px 0px -1px rgba(251, 216, 0, 1);
    -moz-box-shadow: -7px -10px 0px -1px rgba(251, 216, 0, 1);
    box-shadow: -7px -10px 0px -1px rgba(251, 216, 0, 1);
}

#maggie .head .dummy2
{
    top: 90px;
    left: 78px;
    width: 14px;
    height: 13px;
    border-radius: 0 50% 50% 0;
    -webkit-border-radius: 0 50% 50% 0;
    -moz-border-radius: 0 50% 50% 0;
    transform: rotate(49deg);
    -ms-transform: rotate(49deg);
    -webkit-transform: rotate(49deg);
}

#maggie .head .dummy3
{
    top: 4px;
    left: -1px;
    width: 6px;
    height: 3px;
    border-left: none;
    border-radius: 0 50% 50% 0;
    -webkit-border-radius: 0 50% 50% 0;
    -moz-border-radius: 0 50% 50% 0;
}

#maggie .head .neck
{
    top: 81px;
    left: 42px;
    width: 20px;
    height: 20px;
    border-left: 1px solid #110b00;
    transform: rotate(-5deg);
    -ms-transform: rotate(-5deg);
    -webkit-transform: rotate(-5deg);
}