#mr-burns .head .hair-line1
{

    border-right: 1px solid #110b00;
    border-left: 1px solid #110b00;
}

#mr-burns .head .hair-line2
{

    border-right: 1px solid #110b00;
    border-left: 1px solid #110b00;
}

#mr-burns .head .hair-line3
{

    border-right: 1px solid #110b00;
    border-left: 1px solid #110b00;
}

#mr-burns .head .hair-line4
{

    border-right: 1px solid #110b00;
    border-left: 1px solid #110b00;
}

#mr-burns .head .eyebrow
{

    border-right: 1px solid #110b00;
    border-left: 1px solid #110b00;
}

#mr-burns .head .eyebrow2
{
    border-left: 1px solid #110b00;
    border-right: 1px solid #110b00;
}

#mr-burns .head .eyebrow3
{
    border-left: 1px solid #110b00;
    border-right: 1px solid #110b00;
}

#mr-burns .head .ear .inner1
{
    border-left: 1px solid #110b00;
    border-right: 1px solid #110b00;
}

#mr-burns .head .ear .inner2
{
    border-top: 1px solid #110b00;
    border-bottom: 1px solid #110b00;
}

#mr-burns .head .nose-bottom
{
    border-left: 1px solid #110b00;
    border-right: 1px solid #110b00;
}

#mr-burns .head .nose-top1
{
    border-left: 1px solid #110b00;
    border-right: 1px solid #110b00;
}

#mr-burns .head .nose-top2
{
    border-left: 1px solid #110b00;
    border-right: 1px solid #110b00;
}

#mr-burns .head .top-lip
{
    border-left: 1px solid #110b00;
    border-right: 1px solid #110b00;
}

#mr-burns .head .cheek
{
    border-top: 1px solid #110b00;
    border-bottom: 1px solid #110b00;
}

#mr-burns .head .neck1
{
    border-left: 1px solid #110b00;
    border-right: 1px solid #110b00;
}

#mr-burns .head .neck2
{
    border-left: 1px solid #110b00;
    border-right: 1px solid #110b00;
}

#mr-burns .head .neck3
{
    border-left: 1px solid #110b00;
    border-right: 1px solid #110b00;
}

#mr-burns .head .neck4
{
    border-left: 1px solid #110b00;
    border-right: 1px solid #110b00;
}