#mr-burns *
{
    position: absolute;
    box-sizing:content-box;
    -moz-box-sizing:content-box;
}

#mr-burns
{
    position: relative;
    width: 90px;
    height: 90px; 
    margin: 0 auto;
}

#mr-burns .head *
{
    border: 1px solid #110b00;
}

#mr-burns .head .no-border
{
    border: none;
}

#mr-burns .head .body
{
    background: #fbd800;
}

#mr-burns .head .hair
{
    top: 3px;
    left: 34px;
    width: 45px;
    height: 42px;
    background: #b0b5b8;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    overflow: hidden;
}

#mr-burns .head .hair-line
{
    border-bottom: none;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
}

#mr-burns .head .hair-line1
{
    top: 3px;
    left: 13px;
    width: 15px;
    height: 5px;
    transform: rotate(-53deg);
    -webkit-transform: rotate(-53deg);
    -ms-transform: rotate(-53deg);
}

#mr-burns .head .hair-line2
{
    top: 5px;
    left: 23px;
    width: 21px;
    height: 8px;
    transform: rotate(-26deg);
    -webkit-transform: rotate(-26deg);
    -ms-transform: rotate(-26deg);
}

#mr-burns .head .hair-line3
{
    top: 18px;
    left: 19px;
    width: 28px;
    height: 11px;
    transform: rotate(32deg);
    -webkit-transform: rotate(32deg);
    -ms-transform: rotate(32deg);
}

#mr-burns .head .hair-line4
{
    top: 25px;
    left: 14px;
    width: 22px;
    height: 9px;
    transform: rotate(40deg);
    -webkit-transform: rotate(40deg);
    -ms-transform: rotate(40deg);
}

#mr-burns .head .sideburn
{
    top: 33px;
    left: 56px;
    width: 6px;
    height: 15px;
    background: #b0b5b8;
    border-top: none;
    -webkit-border-radius: 0px 2px 3px 2px;
    -moz-border-radius: 0px 2px 3px 2px;
    border-radius: 0px 2px 3px 2px;
    -webkit-transform: rotate(-24deg);
    -ms-transform: rotate(-24deg);
    transform: rotate(-24deg);
    box-shadow: -10px 16px 0px 5px rgba(248,220,0,1);
    -webkit-box-shadow: -10px 16px 0px 5px rgba(248,220,0,1);
    -moz-box-shadow: -10px 16px 0px 5px rgba(248,220,0,1);
}

#mr-burns .head .eyebrow
{
    display: none;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

#mr-burns .head .eyebrow1
{
    top: 30px;
    left: 9px;
    width: 38px;
    height: 16px;
    border-top: none;
    -webkit-transform: rotate(-8deg);
    -ms-transform: rotate(-8deg);
    transform: rotate(-8deg);
    -webkit-box-shadow: inset 18px 18px 0px 0px rgba(248,220,0,1);
    -moz-box-shadow: inset 18px 18px 0px 0px rgba(248,220,0,1);
    box-shadow: inset 18px 18px 0px 0px rgba(248,220,0,1);
}

#mr-burns .head .eyebrow2
{
    top: 36px;
    left: 4px;
    width: 14px;
    height: 6px;
    border-bottom: none;
    -webkit-transform: rotate(-127deg);
    -ms-transform: rotate(-127deg);
    transform: rotate(-127deg);
    -webkit-box-shadow: inset 18px 18px 0px 0px rgba(248,220,0,1);
    -moz-box-shadow: inset 18px 18px 0px 0px rgba(248,220,0,1);
    box-shadow: inset 18px 18px 0px 0px rgba(248,220,0,1);
}

#mr-burns .head .eyebrow3
{
    top: 27px;
    left: 0px;
    width: 15px;
    height: 4px;
    border-bottom: none;
    transform: rotate(-88deg);
    -webkit-transform: rotate(-88deg);
    -ms-transform: rotate(-88deg);
    box-shadow: inset 18px 18px 0px 0px rgba(248,220,0,1);
    -webkit-box-shadow: inset 18px 18px 0px 0px rgba(248,220,0,1);
    -moz-box-shadow: inset 18px 18px 0px 0px rgba(248,220,0,1);
}

#mr-burns .head .head-main
{
    top: -4px;
    left: 15px;
    display: block;
    width: 37px;
    height: 57px;
    background: #f8dc00;
    border-radius: 50% 50% 40% 50% / 50% 50% 27% 50%;
    -webkit-border-radius: 50% 50% 40% 50% / 50% 50% 27% 50%;
    -moz-border-radius: 50% 50% 40% 50% / 50% 50% 27% 50%;
    transform: rotate(79deg);
    -webkit-transform: rotate(79deg);
    -ms-transform: rotate(79deg);
}

#mr-burns .head .head-main2
{
    top: 31px;
    left: 15px;
    display: block;
    width: 42px;
    height: 34px;
    background: #f8dc00;
    -webkit-transform: rotate(-24deg);
    -ms-transform: rotate(-24deg);
    transform: rotate(-24deg);
}

#mr-burns .head .head-main3
{
    top: 36px;
    left: 44px;
    display: block;
    width: 11px;
    height: 9px;
    background: #f8dc00;
    -webkit-transform: rotate(-24deg);
    -ms-transform: rotate(-24deg);
    transform: rotate(-24deg);
}

#mr-burns .head .liverspot
{
    width: 2px;
    height: 2px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
}

#mr-burns .head .liverspot1
{
    top: 15px;
    left: 45px;
    width: 3px;
    height: 3px;
}

#mr-burns .head .liverspot2
{
    top: 21px;
    left: 51px;
}

#mr-burns .head .liverspot3
{
    top: 27px;
    left: 42px;
}

#mr-burns .head .eye-bulge
{
    top: 49px;
    left: 12px;
    width: 5px;
    height: 6px;
    background: #f8dc00;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
}

#mr-burns .head .eye
{
    background: #ffffff;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    overflow: hidden;
}

#mr-burns .head .left-eye
{
    top: 39px;
    left: 10px;
    width: 12px;
    height: 12px;
}

#mr-burns .head .pupil
{
    background: #110b00;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
}

#mr-burns .head .left-eye .pupil
{
    top: 5px;
    left: 4px;
    width: 3px;
    height: 3px;
}

#mr-burns .head .right-eye
{
    top: 37px;
    left: 25px;
    width: 18px;
    height: 15px;
}

#mr-burns .head .right-eye .pupil
{
    top: 6px;
    left: 11px;
    width: 3px;
    height: 3px;
}

#mr-burns .head .right-eye .eyelid-top
{
    top: -11px;
    left: 0px;
    width: 18px;
    height: 10px;
    border-bottom: 1px solid #110b00;
    border-radius: 50% 50% 0 0;
    
    -webkit-animation-name: mrburnsrighteyelidtop;
    -webkit-animation-duration: 10s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-delay: 2s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-play-state: running;
    animation-name: mrburnsrighteyelidtop;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    animation-play-state: running;
}

#mr-burns .head .right-eye .eyelid-bottom
{
    bottom: -4px;
    left: 0px;
    width: 18px;
    height: 3px;
    border-top: 1px solid #110b00;
    border-radius: 0 0 50% 50%;
    
    -webkit-animation-name: mrburnsrighteyelidbottom;
    -webkit-animation-duration: 10s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-delay: 2s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-play-state: running;
    animation-name: mrburnsrighteyelidbottom;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    animation-play-state: running;
}

@-webkit-keyframes mrburnsrighteyelidtop
{
0% {top: -18px;}
4% {top: 0px;}
8% {top: -18px;}
100% {top: -18px;}
}

@keyframes mrburnsrighteyelidtop
{
0% {top: -18px;}
4% {top: 0px;}
8% {top: -18px;}
100% {top: -18px;}
}

@-webkit-keyframes mrburnsrighteyelidbottom
{
0% {bottom: -11px;}
4% {bottom: 0px;}
8% {bottom: -11px;}
100% {bottom: -11px;}
}

@keyframes mrburnsrighteyelidbottom
{
0% {bottom: -11px;}
4% {bottom: 0px;}
8% {bottom: -11px;}
100% {bottom: -11px;}
}

#mr-burns .head .ear
{
    top: 31px;
    left: 61px;
    width: 11px;
    height: 12px;
    background: #f8dc00;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
}

#mr-burns .head .ear .inner1
{
    top: 3px;
    left: 2px;
    width: 6px;
    height: 2px;
    border-bottom: none;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-transform: rotate(-21deg);
    -ms-transform: rotate(-21deg);
    transform: rotate(-21deg);
}

#mr-burns .head .ear .inner2
{
    top: 3px;
    left: 4px;
    width: 2px;
    height: 5px;
    border-left: none;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-transform: rotate(-11deg);
    -ms-transform: rotate(-11deg);
    transform: rotate(-11deg);
}

#mr-burns .head .nose-curl
{
    top: 61px;
    left: 16px;
    width: 6px;
    height: 5px;
    background: #f8dc00;
    border-left: none;
    border-radius: 0 5px 5px 0px;
    -webkit-border-radius: 0 5px 5px 0px;
    -moz-border-radius: 0 5px 5px 0px;
    -webkit-transform: rotate(-33deg);
    -ms-transform: rotate(-33deg);
    transform: rotate(-33deg);
}

#mr-burns .head .nose-bottom
{
    top: 72px;
    left: 5px;
    width: 15px;
    height: 1px;
    border-top: none;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-transform: rotate(140deg);
    -ms-transform: rotate(140deg);
    transform: rotate(140deg);
}

#mr-burns .head .nose-top1
{
    top: 52px;
    left: 5px;
    width: 18px;
    height: 3px;
    border-top: none;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-transform: rotate(-55deg);
    -ms-transform: rotate(-55deg);
    transform: rotate(-55deg);
    -webkit-box-shadow: 3px 3px 0px 0px rgba(248,220,0,1);
    -moz-box-shadow: 3px 3px 0px 0px rgba(248,220,0,1);
    box-shadow: 3px 3px 0px 0px rgba(248,220,0,1);
}

#mr-burns .head .nose-top2
{
    top: 64px;
    left: 2px;
    width: 13px;
    height: 3px;
    border-top: none;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    transform: rotate(120deg);
    -webkit-transform: rotate(120deg);
    -ms-transform: rotate(120deg);
    box-shadow: inset 5px 2px 0px 0px rgba(248,220,0,1);
    -webkit-box-shadow: inset 5px 2px 0px 0px rgba(248,220,0,1);
    -moz-box-shadow: inset 5px 2px 0px 0px rgba(248,220,0,1);
}

#mr-burns .head .nose-tip
{
    top: 69px;
    left: 4px;
    width: 6px;
    height: 6px;
    background: #f8dc00;
    border-right: none;
    -webkit-border-radius: 14px 0 0 2px;
    -moz-border-radius: 14px 0 0 2px;
    border-radius: 14px 0 0 2px;
    -webkit-transform: rotate(-42deg);
    -ms-transform: rotate(-42deg);
    transform: rotate(-42deg);
}

#mr-burns .head .nose-inner
{
    top: 59px;
    left: 3px;
    width: 30px;
    height: 8px;
    background: #f8dc00;
    -webkit-border-radius: 23px 0 0 2px;
    -moz-border-radius: 23px 0 0 2px;
    border-radius: 23px 0 0 2px;
    -webkit-transform: rotate(-40deg);
    -ms-transform: rotate(-40deg);
    transform: rotate(-40deg);
}

#mr-burns .head .top-lip
{
    top: 60px;
    left: 20px;
    width: 38px;
    height: 11px;
    border-top: none;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    transform: rotate(-24deg);
    -webkit-transform: rotate(-24deg);
    -ms-transform: rotate(-24deg);
    box-shadow: inset 2px -12px 0px 0px rgba(248,220,0,1);
    -webkit-box-shadow: inset 2px -12px 0px 0px rgba(248,220,0,1);
    -moz-box-shadow: inset 2px -12px 0px 0px rgba(248,220,0,1);
}

#mr-burns .head .top-lip2
{
    top: 67px;
    left: 18px;
    width: 9px;
    height: 8px;
    border-left: 1px solid #110b00;
    border-bottom: 1px solid #110b00;
    border-radius: 0px 2px 0px 2px;
    -webkit-border-radius: 0px 2px 0px 2px;
    -moz-border-radius: 0px 2px 0px 2px;
    transform: rotate(1deg);
    -webkit-transform: rotate(1deg);
    -ms-transform: rotate(1deg);
    box-shadow: inset 9px -8px 0px 0px rgba(248,220,0,1);
    -webkit-box-shadow: inset 9px -8px 0px 0px rgba(248,220,0,1);
    -moz-box-shadow: inset 9px -8px 0px 0px rgba(248,220,0,1);
}

#mr-burns .head .cheek
{
    top: 60px;
    left: 56px;
    width: 2px;
    height: 5px;
    border-left: none;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    transform: rotate(-68deg);
    -webkit-transform: rotate(-68deg);
    -ms-transform: rotate(-68deg);
}

#mr-burns .head .bottom-lip
{
    top: 72px;
    left: 43px;
    width: 5px;
    height: 3px;
    border-left: 1px solid #110b00;
    border-bottom: 1px solid #110b00;
    border-radius: 0px 2px 0px 2px;
    -webkit-border-radius: 0px 2px 0px 2px;
    -moz-border-radius: 0px 2px 0px 2px;
    transform: rotate(-9deg);
    -webkit-transform: rotate(-9deg);
    -ms-transform: rotate(-9deg);
    box-shadow: inset 5px -3px 0px 0px rgba(248,220,0,1);
    -webkit-box-shadow: inset 5px -3px 0px 0px rgba(248,220,0,1);
    -moz-box-shadow: inset 5px -3px 0px 0px rgba(248,220,0,1);
}

#mr-burns .head .tooth
{
    background: #ffffff;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
}

#mr-burns .head .tooth1
{
    top: 73px;
    left: 28px;
    width: 4px;
    height: 3px;
}

#mr-burns .head .tooth2
{
    top: 72px;
    left: 33px;
    width: 4px;
    height: 3px;
}

#mr-burns .head .tooth3
{
    top: 70px;
    left: 38px;
    width: 4px;
    height: 3px;
}

#mr-burns .head .tooth4
{
    top: 68px;
    left: 43px;
    width: 4px;
    height: 3px;
}

#mr-burns .head .tooth5
{
    top: 66px;
    left: 47px;
    width: 4px;
    height: 3px;
}

#mr-burns .head .tooth6
{
    top: 64px;
    left: 50px;
    width: 4px;
    height: 3px;
}

#mr-burns .head .tooth7
{
    top: 64px;
    left: 55px;
    width: 5px;
    height: 2px;
    background: transparent;
    border-bottom: 1px solid #110b00;
    -webkit-transform: rotate(140deg);
    -ms-transform: rotate(140deg);
    transform: rotate(140deg);
}

#mr-burns .head .teeth
{
    top: 60px;
    left: 23px;
    width: 33px;
    height: 11px;
    border-left: 2px solid #ffffff;
    border-right: 2px solid #ffffff;
    border-bottom: 2px solid #ffffff;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    transform: rotate(-24deg);
    -webkit-transform: rotate(-24deg);
    -ms-transform: rotate(-24deg);
}

#mr-burns .head .neck1
{
    top: 71px;
    left: 46px;
    width: 27px;
    height: 12px;
    border-top: none;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    transform: rotate(32deg);
    -webkit-transform: rotate(32deg);
    -ms-transform: rotate(32deg);
    box-shadow: inset 2px -12px 0px 0px rgba(248,220,0,1);
    -webkit-box-shadow: inset 2px -12px 0px 0px rgba(248,220,0,1);
    -moz-box-shadow: inset 2px -12px 0px 0px rgba(248,220,0,1);
}

#mr-burns .head .neck2
{
    top: 73px;
    left: 61px;
    width: 16px;
    height: 9px;
    border-top: none;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    transform: rotate(-73deg);
    -webkit-transform: rotate(-73deg);
    -ms-transform: rotate(-73deg);
    box-shadow: inset 2px -12px 0px 0px rgba(248,220,0,1);
    -webkit-box-shadow: inset 2px -12px 0px 0px rgba(248,220,0,1);
    -moz-box-shadow: inset 2px -12px 0px 0px rgba(248,220,0,1);
}

#mr-burns .head .neck3
{
    top: 57px;
    left: 61px;
    width: 21px;
    height: 9px;
    border-top: none;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    transform: rotate(59deg);
    -webkit-transform: rotate(59deg);
    -ms-transform: rotate(59deg);
    box-shadow: 1px 8px 0px 0px rgba(248,220,0,1);
    -webkit-box-shadow: 1px 8px 0px 0px rgba(248,220,0,1);
    -moz-box-shadow: 1px 8px 0px 0px rgba(248,220,0,1);
}

#mr-burns .head .neck4
{
    top: 50px;
    left: 60px;
    width: 13px;
    height: 2px;
    border-top: none;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    transform: rotate(105deg);
    -webkit-transform: rotate(105deg);
    -ms-transform: rotate(105deg);
    box-shadow: 3px 2px 0px 0px rgba(248,220,0,1);
    -webkit-box-shadow: 3px 2px 0px 0px rgba(248,220,0,1);
    -moz-box-shadow: 3px 2px 0px 0px rgba(248,220,0,1);
}