#ned-flanders *
{
    position: absolute;
    box-sizing:content-box;
    -moz-box-sizing:content-box;
}

#ned-flanders
{
    position: relative;
    width: 120px;
    height: 131px; 
    margin: 0 auto;
}

#ned-flanders .head *
{
    border: 1px solid #110b00;
}

#ned-flanders .head .no-border
{
    border: none;
}

#ned-flanders .head .body
{
    background: #fbd800;
}

#ned-flanders .head .head-main
{
    top: 58px;
    left: 43px;
    width: 41px;
    height: 68px;
}

#ned-flanders .head .hair
{
    background: #986a38;
}

#ned-flanders .head .hair-top
{
    top: 11px;
    left: 23px;
    width: 71px;
    height: 34px;
    border-radius: 35% 50% 47% 50%/52% 51% 19% 43%;
    -webkit-border-radius: 35% 50% 47% 50%/52% 51% 19% 43%;
    -moz-border-radius: 35% 50% 47% 50%/52% 51% 19% 43%;
}

#ned-flanders .head .hair-side
{
    top: 18px;
    left: 68px;
    width: 35px;
    height: 91px;
    border-left: none;
    -webkit-border-radius: 35% 50% 33% 50%/52% 51% 19% 43%;
    -moz-border-radius: 35% 50% 33% 50%/52% 51% 19% 43%;
    border-radius: 35% 50% 33% 50%/52% 51% 19% 43%;
}

#ned-flanders .head .hair-line
{
    border-left: 1px solid #110b00;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

#ned-flanders .head .hair-line1
{
    top: 20px;
    left: 26px;
    width: 9px;
    height: 16px;
    -webkit-transform: rotate(-53deg);
    -ms-transform: rotate(-53deg);
    transform: rotate(-53deg);
}

#ned-flanders .head .hair-line2
{
    top: 14px;
    left: 34px;
    width: 9px;
    height: 17px;
    -webkit-transform: rotate(-26deg);
    -ms-transform: rotate(-26deg);
    transform: rotate(-26deg);
}

#ned-flanders .head .hair-line3
{
    top: 12px;
    left: 45px;
    width: 9px;
    height: 15px;
    -webkit-transform: rotate(9deg);
    -ms-transform: rotate(9deg);
    transform: rotate(9deg);
}

#ned-flanders .head .hair-line4
{
    top: 12px;
    left: 59px;
    width: 9px;
    height: 17px;
    -webkit-transform: rotate(31deg);
    -ms-transform: rotate(31deg);
    transform: rotate(31deg);
}

#ned-flanders .head .hair-line5
{
    top: 23px;
    left: 78px;
    width: 16px;
    height: 17px;
    border-top: 1px solid #110b00;
    -webkit-border-radius: 10px 0 0 0;
    -moz-border-radius: 10px 0 0 0;
    border-radius: 10px 0 0 0;
}

#ned-flanders .head .head-top
{    
    top: 26px;
    left: 29px;
    width: 52px;
    height: 34px;
    border-bottom: none;
    -webkit-border-radius: 34% 50% 47% 50%/50% 51% 19% 43%;
    -moz-border-radius: 34% 50% 47% 50%/50% 51% 19% 43%;
    border-radius: 34% 50% 47% 50%/50% 51% 19% 43%;
}

#ned-flanders .head .head-top-inner
{    
    top: 27px;
    left: 30px;
    width: 50px;
    height: 32px;
    -webkit-border-radius: 34% 50% 47% 50%/50% 51% 19% 43%;
    -moz-border-radius: 34% 50% 47% 50%/50% 51% 19% 43%;
    border-radius: 34% 50% 47% 50%/50% 51% 19% 43%;
}

#ned-flanders .head .head-side
{    
    top: 35px;
    left: 68px;
    width: 15px;
    height: 52px;
    border-right: 1px solid #110b00;
    -webkit-border-radius: 0% 41% 0% 0;
    -moz-border-radius: 0% 41% 0% 0;
    border-radius: 0% 41% 0% 0;
}

#ned-flanders .head .sideburn
{
    top: 67px;
    left: 82px;
    width: 10px;
    height: 20px;
    border-right: 1px solid #110b00;
    border-bottom: 1px solid #110b00;
    -webkit-border-radius: 0 0 5px 3px;
    -moz-border-radius: 0 0 5px 3px;
    border-radius: 0 0 5px 3px;
}

#ned-flanders .head .ear
{
    top: 70px;
    left: 86px;
    width: 16px;
    height: 20px;
    -webkit-border-radius:63px 63px 63px 63px/108px 108px 72px 72px;
    -moz-border-radius:63px 63px 63px 63px/108px 108px 72px 72px;
    border-radius:50% 50% 50% 50%/60% 60% 40% 40%;
}

#ned-flanders .head .ear .inner
{
    top: 6px;
    left: 5px;
    width: 7px;
    height: 7px;
    border-top: 1px solid #110b00;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

#ned-flanders .head .eye-bulge
{
    top: 44px;
    left: 25px;
    width: 10px;
    height: 10px;
    border-top: 1px solid #110b00;
    border-left: 1px solid #110b00;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

#ned-flanders .head .eye
{
    width: 25px;
    height: 25px;
    background: #ffffff;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    overflow: hidden;
}

#ned-flanders .head .eye .pupil
{
    width: 3px;
    height: 3px;
    background: #110b00;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

#ned-flanders .head .left-eye
{
    top: 52px;
    left: 19px;
}

#ned-flanders .head .left-eye .pupil
{
    top: 12px;
    left: 10px;
}

#ned-flanders .head .left-eye .eyelid-top
{
    top: -15px;
    left: 0px;
    width: 25px;
    height: 14px;
    border-bottom: 1px solid #110b00;
    border-radius: 50% 50% 0 0;
    
    -webkit-animation-name: nedlefteyelidtop;
    -webkit-animation-duration: 10s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-delay: 1.3s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-play-state: running;
    animation-name: nedlefteyelidtop;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-delay: 1.3s;
    animation-iteration-count: infinite;
    animation-play-state: running;
}

#ned-flanders .head .left-eye .eyelid-bottom
{
    bottom: -10px;
    left: 0px;
    width: 25px;
    height: 9px;
    border-top: 1px solid #110b00;
    border-radius: 0 0 50% 50%;
    
    -webkit-animation-name: nedlefteyelidbottom;
    -webkit-animation-duration: 10s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-delay: 1.3s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-play-state: running;
    animation-name: nedlefteyelidbottom;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-delay: 1.3s;
    animation-iteration-count: infinite;
    animation-play-state: running;
}

@-webkit-keyframes nedlefteyelidtop
{
0% {top: -15px;}
2% {top: 0px;}
4% {top: -15px;}
100% {top: -15px;}
}

@keyframes nedlefteyelidtop
{
0% {top: -15px;}
2% {top: 0px;}
4% {top: -15px;}
100% {top: -15px;}
}

@-webkit-keyframes nedlefteyelidbottom
{
0% {bottom: -10px;}
2% {bottom: 0px;}
4% {bottom: -10px;}
100% {bottom: -10px;}
}

@keyframes nedlefteyelidbottom
{
0% {bottom: -10px;}
2% {bottom: 0px;}
4% {bottom: -10px;}
100% {bottom: -10px;}
}

#ned-flanders .head .right-eye
{
    top: 52px;
    left: 46px;
    width: 26px;
}

#ned-flanders .head .right-eye .pupil
{
    top: 14px;
    left: 16px;
}

#ned-flanders .head .right-eye .eyelid-top
{
    top: -15px;
    left: 0px;
    width: 26px;
    height: 14px;
    border-bottom: 1px solid #110b00;
    border-radius: 50% 50% 0 0;
    
    -webkit-animation-name: nedrighteyelidtop;
    -webkit-animation-duration: 10s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-delay: 1.3s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-play-state: running;
    animation-name: nedrighteyelidtop;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-delay: 1.3s;
    animation-iteration-count: infinite;
    animation-play-state: running;
}

#ned-flanders .head .right-eye .eyelid-bottom
{
    bottom: -10px;
    left: 0px;
    width: 26px;
    height: 9px;
    border-top: 1px solid #110b00;
    border-radius: 0 0 50% 50%;
    
    -webkit-animation-name: nedrighteyelidbottom;
    -webkit-animation-duration: 10s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-delay: 1.3s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-play-state: running;
    animation-name: nedrighteyelidbottom;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-delay: 1.3s;
    animation-iteration-count: infinite;
    animation-play-state: running;
}

@-webkit-keyframes nedrighteyelidtop
{
0% {top: -15px;}
2% {top: 0px;}
4% {top: -15px;}
100% {top: -15px;}
}

@keyframes nedrighteyelidtop
{
0% {top: -15px;}
2% {top: 0px;}
4% {top: -15px;}
100% {top: -15px;}
}

@-webkit-keyframes nedrighteyelidbottom
{
0% {bottom: -10px;}
2% {bottom: 0px;}
4% {bottom: -10px;}
100% {bottom: -10px;}
}

@keyframes nedrighteyelidbottom
{
0% {bottom: -10px;}
2% {bottom: 0px;}
4% {bottom: -10px;}
100% {bottom: -10px;}
}

#ned-flanders .head .glasses
{
    top: 68px;
    left: 73px;
    width: 24px;
    height: 1px;
    background: #110b00;
    -webkit-transform: rotate(8deg);
    -ms-transform: rotate(8deg);
    transform: rotate(8deg);
}

#ned-flanders .head .nose
{
    top: 70px;
    left: 28px;
    width: 16px;
    height: 12px;
    border-right: none;
    -webkit-border-radius: 10px 0 3px 10px;
    -moz-border-radius: 10px 0 3px 10px;
    border-radius: 10px 0 3px 10px;
}

#ned-flanders .head .moustache
{
    top: 81px;
    left: 13px;
    width: 50px;
    height: 18px;
    background: #986a38;
    -webkit-border-radius: 50% 50% 25% 25%/79% 90% 9% 10%;
    -moz-border-radius: 50% 50% 25% 25%/79% 90% 9% 10%;
    border-radius: 50% 50% 25% 25%/79% 90% 9% 10%;
}

#ned-flanders .head .moustache .hair
{
    background: none;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

#ned-flanders .head .moustache .hair.left
{
    border-left: 1px solid #110b00;
}

#ned-flanders .head .moustache .hair.right
{
    border-right: 1px solid #110b00;
}

#ned-flanders .head .moustache .moustache-hair1
{
    top: 3px;
    left: 11px;
    width: 2px;
    height: 12px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

#ned-flanders .head .moustache .moustache-hair2
{
    top: 4px;
    left: 16px;
    width: 2px;
    height: 12px;
    -webkit-transform: rotate(35deg);
    -ms-transform: rotate(35deg);
    transform: rotate(35deg);
}

#ned-flanders .head .moustache .moustache-hair3
{
    top: 5px;
    left: 22px;
    width: 2px;
    height: 11px;
    -webkit-transform: rotate(19deg);
    -ms-transform: rotate(19deg);
    transform: rotate(19deg);
}

#ned-flanders .head .moustache .moustache-hair4
{
    top: 5px;
    left: 27px;
    width: 2px;
    height: 11px;
    -webkit-transform: rotate(-19deg);
    -ms-transform: rotate(-19deg);
    transform: rotate(-19deg);
}

#ned-flanders .head .moustache .moustache-hair5
{
    top: 4px;
    left: 32px;
    width: 2px;
    height: 12px;
    -webkit-transform: rotate(-35deg);
    -ms-transform: rotate(-35deg);
    transform: rotate(-35deg);
}

#ned-flanders .head .moustache .moustache-hair6
{
    top: 3px;
    left: 37px;
    width: 2px;
    height: 12px;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

#ned-flanders .head .neck-right
{
    top: 83px;
    left: 87px;
    width: 8px;
    height: 40px;
    border-left: 1px solid #110b00;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-transform: rotate(5deg);
    -ms-transform: rotate(5deg);
    transform: rotate(5deg);
    -webkit-box-shadow: -5px 0px 0px 0px rgba(251,216,0,1);
    -moz-box-shadow: -5px 0px 0px 0px rgba(251,216,0,1);
    box-shadow: -5px 0px 0px 0px rgba(251,216,0,1);
}

#ned-flanders .head .neck-bottom
{
    top: 110px;
    left: 41px;
    width: 47px;
    height: 20px;
    border-bottom: 1px solid #110b00;
    -webkit-border-radius: 50% 50% 41% 40%/40% 40% 67% 33%;
    -moz-border-radius: 50% 50% 41% 40%/40% 40% 67% 33%;
    border-radius: 50% 50% 41% 40%/40% 40% 67% 33%;
    -webkit-box-shadow: inset  0px -6px 0px 0px rgba(251,216,0,1);
    -moz-box-shadow: inset  0px -6px 0px 0px rgba(251,216,0,1);
    box-shadow: inset 0px -6px 0px 0px rgba(251,216,0,1);
}

#ned-flanders .head .mouth-top
{
    top: 89px;
    left: 48px;
    width: 27px;
    height: 5px;
    border-bottom: 1px solid #110b00;
    -webkit-border-radius: 50% 50% 32% 50%;
    -moz-border-radius: 50% 50% 32% 50%;
    border-radius: 50% 50% 32% 50%;
    -webkit-transform: rotate(-3deg);
    -webkit-box-shadow: 0px 3px 0px 0px rgba(0,0,0,1);
    -moz-box-shadow: 0px 3px 0px 0px rgba(0,0,0,1);
    box-shadow: 0px 3px 0px 0px rgba(0,0,0,1);
}

#ned-flanders .head .mouth-left
{
    top: 101px;
    left: 40px;
    width: 10px;
    height: 10px;
    border-right: 1px solid #110b00;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-box-shadow: 4px 0px 0px 0px rgba(0,0,0,1);
    -moz-box-shadow: 4px 0px 0px 0px rgba(0,0,0,1);
    box-shadow: 4px 0px 0px 0px rgba(0,0,0,1);
}

#ned-flanders .head .mouth-right
{
    top: 92px;
    left: 61px;
    width: 15px;
    height: 17px;
    border-right: 1px solid #110b00;
    -webkit-border-radius: 50% 33% 50% 50%;
    -moz-border-radius: 50% 33% 50% 50%;
    border-radius: 50% 33% 50% 50%;
    -webkit-transform: rotate(10deg);
    -webkit-box-shadow: inset -3px -3px 0px 0px rgba(0,0,0,1);
    -moz-box-shadow: inset -3px -3px 0px 0px rgba(0,0,0,1);
    box-shadow: inset -3px -3px 0px 0px rgba(0,0,0,1);
}

#ned-flanders .head .mouth-bottom
{
    top: 94px;
    left: 44px;
    width: 31px;
    height: 17px;
    border-bottom: 1px solid #110b00;
    -webkit-border-radius: 50% 50% 50% 14%;
    -moz-border-radius: 50% 50% 50% 14%;
    border-radius: 50% 50% 50% 14%;
    -webkit-box-shadow: inset -4px -1px 0px 0px rgba(0,0,0,1);
    -moz-box-shadow: inset -4px -1px 0px 0px rgba(0,0,0,1);
    box-shadow: inset -4px -1px 0px 0px rgba(0,0,0,1);
}

#ned-flanders .head .mouth-inner
{
    top: 96px;
    left: 51px;
    width: 23px;
    height: 14px;
    background: #000000;
    -webkit-border-radius: 0 0 20px 0;
    -moz-border-radius: 0 0 20px 0;
    border-radius: 0 0 20px 0;
}

#ned-flanders .head .lip
{
    top: 106px;
    left: 36px;
    width: 14px;
    height: 11px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

#ned-flanders .head .tongue
{
    top: 104px;
    left: 54px;
    width: 20px;
    height: 7px;
    background: #da6339;
    -webkit-border-radius: 100% 0 100% 0;
    -moz-border-radius: 100% 0 100% 0;
    border-radius: 100% 0 100% 0;
}

#ned-flanders .head .neck-left
{
    top: 100px;
    left: 41px;
    width: 5px;
    height: 27px;
    border-left: 1px solid #110b00;
    -webkit-border-radius: 0 0 0 2px;
    -moz-border-radius: 0 0 0 2px;
    border-radius: 0 0 0 2px;
    -webkit-box-shadow: inset 1px 1px 0px 0px rgba(251,216,0,1);
    -moz-box-shadow: inset 1px 1px 0px 0px rgba(251,216,0,1);
    box-shadow: inset 1px 1px 0px 0px rgba(251,216,0,1);
}