html, body {
	height: 100%;
}

.btn-twitter, .btn-twitter:hover
{
	color: #ffffff;
	background-color: #55acee;
}

#wrap {
	text-align: center
}

header .characters .character-row
{
	padding-top: 90px;
	text-align: center;
}

footer {
	padding: 10px 0;
	text-align: center;
	background-color: #f5f5f5;
}