html, body
{
    height: 100%;
}


#wrap
{
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -60px;
}

.header, .characters .character-row
{
    padding-top: 90px;
    text-align: center;
}

#push, #footer
{
    height: 60px;
}

#footer
{
    background-color: #f5f5f5;
    text-align: center;
}

#footer p
{
    margin: 0;
    padding: 15px 0 0 0;
}

@media (max-width: 767px)
{
    #footer
    {
        margin-left: -20px;
        margin-right: -20px;
        padding-left: 20px;
        padding-right: 20px;
    }
}